@font-face {
  font-family: "poppins-l";
  src: local("poppins-l"),
    url(./components/fonts/Poppins-Light.ttf) format(truetype);
}

@font-face {
  font-family: "poppins-m";
  src: local("poppins-m"),
    url(./components/fonts/Poppins-Medium.ttf) format(truetype);
}

@font-face {
  font-family: "poppins-r";
  src: local("poppins-r"),
    url(./components/fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
  font-family: "poppins-b";
  src: local("poppins-b"),
    url(./components/fonts/Poppins-Bold.ttf) format(truetype);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "poppins-r", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(53, 44, 77);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: rgb(53, 44, 77);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
